<div class="about">

	<h2><%= t('about_title') %></h1>
	<h3><%= t('about_subtitle') %></h2>

	<p class="about_p first"><%= t('about_paragraph1') %></p>

	<p class="about_p second"><%= t('about_paragraph2') %></p>

</div>