<h3>Garage Sale HK office contact:</h1><br><br>

<p class="contact_p"> 	Telephone: +852 1234567<br>
						Fax: +852 1234568<br><br>		

						e-mail: office@garagesalehk.com.hk<br><br>
	<hr>
						Address: SOME Office Building<br>
								123 some street<br>
								TST, Hong Kong<br>

</>